.login-container{
    display: flex;
    justify-content: center;

}

.navigation-container{
    /* border: solid; */
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;


}

